/* ======================================================== */
/*MAIN*/
html {
    position: relative;
    min-height: 100%;
}
body {
  margin: 0 0 80px 0; /* bottom = footer height */
  font-family: "Crimson Text", serif;
}
main {
  min-height: 440px;
}
/* ======================================================== */
/*NAVBAR*/
.navbar {
	position: relative;
	background: salmon;
	min-height: 25px;
	line-height: 25px;
  z-index: 1000;
}
.navbar-list{
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.navbar li{
  display: block;
  float: left;
  width: 25%;
  min-width: 75px;
  text-align: center;
  background-color: cornflowerblue;
  outline: 2px solid indianred;
}
.navbar-link {
  color: blue;
  position: relative;
  top: 30%;
}

/* ======================================================== */
/* FOOTER */
.footer-sticky {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: salmon;
}
.center-vh{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  background-color: mediumorchid;
  border-radius: 3px;
  font-variant: small-caps;
}
.center-vh #bilbo{
  font-family: 'Bilbo Swash Caps', cursive;
  font-variant: normal;
  font-size: large;
}
.super{
  vertical-align: super;
}
/* ======================================================== */
#img-responsive{
  max-width: 100%;
  height: auto;
	border-radius: 100px 100px;
}
/* ======================================================== */
/* main content of the page*/
.content{
  position: relative;
  margin: 0;
  padding: 0;
  border: solid red 1px;
}
.thumbnail-vhc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  padding-top: 60px;
}
h1, h4{
  margin: 0px 0px;
  padding: 0px;
}
.thumbnail-header{
  position: relative;
  text-transform: capitalize;
  left: 0;
  right: 0;
  height: 30%;
  text-align: center;
  background-color: slateblue;
  word-spacing: .5em;
}
.thumbnail-img{
  background-color: maroon;
}
.thumbnail-img img{
	display:block;
	margin:auto;
}
.thumbnail-subheader{
  font-family: 'Cinzel', serif;
	text-align: center;
  background-color: mediumslateblue;
  text-decoration: underline;
}
.thumbnail-text{
  margin-top: 0px;
  background-color: lemonchiffon;
  line-height: 1.7;
  text-align: center;
}
/* ======================================================== */
.event-heading{
	position: relative;
	display: inline-block;
	background-color: orchid;
  word-spacing: .5em;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 10px;
}
.event-body{
	background-color: papayawhip;
}
.event-body p{
  text-align: justify;
  line-height: 1.7;
  text-indent: 50px;
}
p:first-child{
  text-indent: 0px;
}
p:first-line{
  font-variant: small-caps;
  font-weight: bold;
}
.drop-cap:first-letter{
  font-size: xx-large;
  font-weight: bold;
  margin-right: 2px;
  border-radius: 3px;
  height: 1em;
  text-shadow: 2px 4px 8px rgba(0,0,0,0.3);

  /*
  border: solid red 1px;
  font-style: italic;
  font-size: xx-large;
  float: left;
  line-height: .8;
  width: .1em;
  padding-top: 0px; padding-right: 8px; padding-left: 3px;
  vertical-align: top;*/
}
