<!doctype html>
<html>

<!--=========================================================================-->
<!-- Head holds metadata - information about the document -->
<head>
    <title>Jeffrey McLemore</title>
    <!-- Specifiy encoding scheme due to security vulnerability in IE -->
    <meta charset="utf-8" />

    <!-- Some meta tag key-value pairs -->
    <meta name="description" content="Jeffrey McLemore Personal Website">
    <meta name="author" content="Jeffrey McLemore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Title of the page, to appear on tab bar -->
    <title>UF Theta Tau</title>

    <!--  Custom imported stylesheet -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Cinzel|Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>

</head>

<!--=========================================================================-->
<!-- Body - where the document's visible content resides -->
<body>

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a class = "navbar-link" href="../index.html">Home</a></li>
        <li><a class = "navbar-link" href="">About</a></li>
        <li><a class = "navbar-link" href="experience.html">Experience</a></li>
        <li><a class = "navbar-link" href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <main class="content">
      <div class="event-wrapper">
        <div class="event-heading">
          <h3><em>What is your educational background?</em></h3>
        </div>
        <div class="event-body">
          <p class="drop-cap">
            I am an upperclassman currently pursuing my B.S. of Computer Science Engineering
      			with a Minor in Mathematics at the University of Florida in Gainesville, Florida.
      			Much of my time is devoted to Theta Tau, a professional engineering fraternity.
      			However, you may also find me at Society of Hispanic Engineers (SHPE) meetings, as
      			well as lurking about the dark, dusty halls of the Computer Science building
      			where I also on occasion participate in events with the Programming Team and the
      			Association of Computing Machinery.
          </p>
          <p>
            Previously, I attended the Honors College at Broward College in Davie, Florida where
            I successfully obtained my Associates of Arts with Highest Honors. Most of my time
            spent here was with Phi Theta Kappa, an extremely active honors society on campus,
            where I served as Vice President of Membership. I often also participated in meetings
            with the Broward College Math team as a way to broaden my critical thinking and
            team-building skills.
          </p>
        </div>
      </div>
      <div class="event-wrapper">
        <div class="event-heading">
          <h3><em>Why do you do the [amazing] things you do?</em></h3>
        </div>
        <div class="event-body">
    		<p class="drop-cap">
            I chose computer science because I love waking up every single day and learning something
      			new. There's a bit of a never-ending-story when it comes to this profession. Every
      			day there's somebody working to update the system. So you have
      			to keep up to stay cutting edge. I'm constantly looking for ways to reinvent and
      			improve myself and troubleshooting all areas of my life like a program. I wouldn't have it any
      			other way.
        </p>
    		<p>
      			When I'm not at school you'll catch me traveling the U.S.A. and attending professional
      			conferences. I love to network as much as I can and talk to people from every single
      			company, even if I don't have plans on working for them. Personally, I think this is the best
      			way to broaden your horizons. I've found that it helps me to think outside
      			the box and learn about how other perspectives can help sharpen my own.
        </p>
        </div>
      </div>
    </main>


    <footer class="footer-sticky">
      <div class="center-vh">
        &copy; Original work by Jeffrey McLemore
        <span id="bilbo">Last updated 03/16/16</span>
      </div>
    </footer>
</body>
</html>
