<!doctype html>
<html>

<!--=========================================================================-->
<!-- Head holds metadata - information about the document -->
<head>
    <title>Jeffrey McLemore</title>
    <!-- Specifiy encoding scheme due to security vulnerability in IE -->
    <meta charset="utf-8" />

    <!-- Some meta tag key-value pairs -->
    <meta name="description" content="Jeffrey McLemore Personal Website">
    <meta name="author" content="Jeffrey McLemore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Title of the page, to appear on tab bar -->
    <title>UF Theta Tau</title>

    <!--  Custom imported stylesheet -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Cinzel|Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>

    <!--[if IE]>
    <div id="warning">
      <div id="message">
        <em>
          Sorry, Internet Explorer is not supported. Be a good lad and come back after
          you've downloaded something like Firefox or Chrome.
        </em>
      </div>
    </div>
    <![endif]-->
    
</head>

<!--=========================================================================-->
<!-- Body - where the document's visible content resides -->
<body>

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a class = "navbar-link" href="../../index.html">Home</a></li>
        <li><a class = "navbar-link" href="">About</a></li>
        <li><a class = "navbar-link" href="experience.html">Experience</a></li>
        <li><a class = "navbar-link" href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <main class="content">
      <div class="event-wrapper">
        <div class="event-body">
          <div class="event-heading">
            <h3><em>What is your educational background?</em></h3>
          </div>
          <p class="drop-cap">
            I am an upperclassman currently pursuing my B.S. of Computer Science Engineering
      			with a Minor in Mathematics at the University of Florida in Gainesville, Florida.
      			Much of my time is devoted to Theta Tau, a professional engineering fraternity.
      			However, you may also find me at Society of Hispanic Engineers (SHPE) meetings, as
      			well as lurking about the dark, dusty halls of the Computer Science building
      			where I also on occasion participate in events with the Programming Team and the
      			Association of Computing Machinery.
          </p>
          <p>
            Previously, I attended the Honors College at Broward College in Davie, Florida where
            I successfully obtained my Associates of Arts with Highest Honors. Most of my time
            spent here was with Phi Theta Kappa, an extremely active honors society on campus,
            where I served as Vice President of Membership. I often also participated in meetings
            with the Broward College Math team as a way to broaden my critical thinking and
            team-building skills.
          </p>
        </div>
      </div>
      <div class="event-wrapper">
        <div class="event-body">
          <div class="event-heading">
            <h3><em>Why computer science?</em></h3>
          </div>
    		<p class="drop-cap">
            I chose computer science because I love waking up every single day and learning something
      			new. There's a bit of a never-ending-story when it comes to this profession. Every
      			day there's somebody working to update the system, so it is imperative to continuouly improve
            in order to be marketable. I'm constantly looking for ways to reinvent and improve myself. A
            good rule of thumb that I have is as follows: look at code you wrote a year ago. If you don't
            say to yourself, "Man, this code sucks!", then you have a problem. Luckily for me, every year
            I've been able to consistenly say that my code sucks.
        </p>
        </div>
      </div>
      <div class="event-wrapper">
        <div class="event-body">
          <div class="event-heading">
            <h3><em>How do you use your free time?</em></h3>
          </div>
          <p class="drop-cap">
              When I'm not at school you'll catch me traveling the U.S.A. and attending professional
              conferences. Some of my most recent attendances include HENAAC and SHPE, where I received
              many offers for employment, as well as countless interview experiences. Aside from that, I
              love reading a good book, and am currently working through Skienna's <em>The Algorithm Design Manual</em>.
          </p>
          <p>
              Ah, I hear it now. "But Jeff" you say, "Shouldn't I be using my all of free time to learn the
              107 different types of binary trees for my next technical interview?". Perhaps. Everybody
              wants to be a better coder and convince themselves that they're as smart as Alan Turing, but
              nobody wants to be a better professional. Personally, I think that going out of your comfort
              zone and networking with as many different people as possible is the best way to broaden
              your horizons in life. Truly, learning the perspectives of others have been instrumental
              in sharpening my own, and I highly recommend branching out by attending events such as
              conferences, meetups, and hackathons.
          </p>
        </div>
      </div>
    </main>


    <footer class="footer-sticky">
      <div class="center-vh">
        &copy; Original work by Jeffrey McLemore
        <span id="bilbo">Last updated 03/16/16</span>
      </div>
    </footer>
</body>
</html>
