<!doctype html>
<html>

<!--=========================================================================-->
<!-- Head holds metadata - information about the document -->
<head>
    <title>Jeffrey McLemore</title>
    <!-- Specifiy encoding scheme due to security vulnerability in IE -->
    <meta charset="utf-8" />

    <!-- Some meta tag key-value pairs -->
    <meta name="description" content="Jeffrey McLemore Personal Website">
    <meta name="author" content="Jeffrey McLemore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Title of the page, to appear on tab bar -->
    <title>UF Theta Tau</title>

    <!--  Custom imported stylesheet -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Cinzel|Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>

</head>

<!--=========================================================================-->
<!-- Body - where the document's visible content resides -->
<body>

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a class = "navbar-link" href="../../index.html">Home</a></li>
        <li><a class = "navbar-link" href="aboutme.html">About</a></li>
        <li><a class = "navbar-link" href="">Experience</a></li>
        <li><a class = "navbar-link" href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <main class="content">
      <div class="event-wrapper">
        <div class="event-body">
          <div class="event-heading">
            <h3><em>What is your professional experience?</em></h3>
          </div>
          <p class="drop-cap">
      			The first professional experience I had was in Ocala, Florida at Veterans Trading Company
      			during the summer of 2015. They are a supply chain solutions company that primarily
      			caters to federal prime contractors such as Lockheed Martin. I worked as a Systems
      			Engineer with a focus on software development and databases in the quality department
      			directly under the Director of Engineering.
      	  </p>
          <p>
      			My first project digitalized their warehouse receiving operations. I created software
      			that allowed the receiving operators to quickly scan parts with hardware and find them in a database.
      			This allowed for more accurate inspections when searching for counterfeit and fraudulent parts.
      			Afterwards, I had the opportunity to prepare documentation and present my project to an auditor
      			personally. It was a greatly unique experience, and I'm happy to say that I successfully helped the company pass
      			two audits: AS9100 and AS6081.
      		</p>
          <p>
      			Afterwards, the president of the company gave me a special task to
      			create for him a web app to replace a legacy application. On a time crunch, I managed to
      			finish this just by the end of my internship. I had the opportunity to present this
      			to a board of executives in the company, all of which found my second project to be very
      			successful as well. I'm very grateful for the opportunity to have worked at this company. I learned countless
      			lessons that I wouldn't have anywhere else. VTC - thank you, and best of luck.
      		</p>
        </div>
      </div>
      <div class="event-wrapper">
        <div class="event-body">
          <div class="event-heading">
            <h3><em>What's up next for you?</em></h3>
          </div>
          <p class="drop-cap">
            This summer I'll be working unmanned systems as a software engineer
            at Northrop Grumman Aerospace Systems in San Diego, California. I had the pleasure
          	of meeting them in Pasadena, California during the HENAAC conference.  I'm one of the few
            people spoke to every company recruiting, and received the exact offer that I was looking
            for. I really hit the jackpot there!
          </p>
          <p>
            During the Fall, I'll be working as a software developer at GE's Energy Management
            Division in Colorado. I was very fortunate to be able to interview with the Aviation
            team at the SHPE 2015 conference. While they did not have room for the fall, they passed
            me off to the wonderful Energy Management team that will have me working on extremely
            interesting projects like developing Smart Grids. I can't wait to get started!
          </p>
        </div>
      </div>
    </main>


    <footer class="footer-sticky">
      <div class="center-vh">
        &copy; Original work by Jeffrey McLemore
        <span id="bilbo">Last updated 03/16/16</span>
      </div>
    </footer>


</body>
</html>
