<!doctype html>
<html>

<!--=========================================================================-->
<!-- Head holds metadata - information about the document -->
<head>
    <title>Jeffrey McLemore</title>
    <!-- Specifiy encoding scheme due to security vulnerability in IE -->
    <meta charset="utf-8" />

    <!-- Some meta tag key-value pairs -->
    <meta name="description" content="Jeffrey McLemore Personal Website">
    <meta name="author" content="Jeffrey McLemore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Title of the page, to appear on tab bar -->
    <title>UF Theta Tau</title>

    <!--  Custom imported stylesheet -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Cinzel|Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>

    <!--[if IE]>
    <div id="warning">
      <div id="message">
        <em>
          Sorry, Internet Explorer is not supported. Be a good lad and come back after
          you've downloaded something like Firefox or Chrome.
        </em>
      </div>
    </div>
    <![endif]-->

</head>

<!--=========================================================================-->
<!-- Body - where the document's visible content resides -->
<body>

  <nav class="navbar">
    <ul class="navbar-list">
      <li><a class = "navbar-link" href="../../index.html">Home</a></li>
      <li><a class = "navbar-link" href="aboutme.html">About</a></li>
      <li><a class = "navbar-link" href="experience.html">Experience</a></li>
      <li><a class = "navbar-link" href="">Contact</a></li>
    </ul>
  </nav>



  <main class="content">
    <div class="thumbnail-vhc">
      <div class="thumbnail-header">
        <h1><em>"...No, the journey <em>doesn't</em> end here"</em></h1>
      </div>
      <div class = "thumbnail-img">
        <img src="../../public/img/envelope.jpg" alt="jeffrey" id = "img-responsive" width="200" height="205"></img>
      </div>
      <div class="thumbnail-subheader">
        <h4><strong>
            Click
          <a href="https://www.linkedin.com/in/jmclemore368" target="_blank">
            <em>here</em>
          </a>
            to keep in touch.
        </strong></h4>
      </div>
      <div class = "thumbnail-text">
        <p class="drop-cap">
          Farewell! And remember, be sure to keep your feet, else<br>
          <em>
            "...there's no knowing where you might
            be swept off to."
          </em>
        </p>
      </div>
  </main>


  <footer class="footer-sticky">
    <div class="center-vh">
      &copy; Original work by Jeffrey McLemore
      <span id="bilbo">Last updated 08/18/16</span>
    </div>
  </footer>
</body>
<!--=========================================================================-->

</html>
